/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
/* Basic CSS Setup */

*{
	box-sizing: border-box;
	color: rgb(1, 1, 37);
	font-size: 100%;
	font-family: 'Lato', sans-serif;
}

body{
	background: #f1f1f1;
}

#menus{
	padding: 70px 0px 0px 0px;
}

:root {
	--sbr-pink: #F5A7C7;
	--text-light: rgb(216, 216, 216);
}
/* =================================================================== */
/* Utility Classes */
/* =================================================================== */

.cstm-container {
	width: 85%;
	max-width: 1335px;
	margin: 0 auto;
	/* border: 2px solid red; */
}
/* Phone numbers */
.phone-number{
	color: rgb(1, 1, 37);	
}

.phone-number:hover{
	color: rgb(1, 1, 37);
	text-decoration: none;
}

/* Services Classes */
#services .services__image-container{
	padding: 0px;
}

#services .services__text-container h1{
	text-align: center;
}


#services .services__text-container div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.sbr-btn-solid {
	font-size: 2.3rem;
	background-color: var(--sbr-pink);
	color: white;
	padding: .5rem 2rem;
	text-align: center;
}

.sbr-btn-solid:hover {
	background-color: rgba(245, 167, 199, 0.8);
	color: rgba(255, 255, 255, 0.9);
}

/* Services Buttons */
#services .services__text-container div .btn-primary{
	background-color: #970038;
	border-color: #970038;
}

#services .services__text-container div .btn-primary:hover{
	background-color: #E50055;
	border-color: #E50055;
	box-shadow: -5px 4px 8px #888;
}





/* =================================================================== */
/* HOME PAGE */
/* =================================================================== */

/* Navbar */
/* 
#mainNav {
	border: 3px solid orange;
} */

/* .navbar {
	top: .5rem;
} */

.nav-background {
	background-color: rgba(0,0,0,0.9);
}
	/* check for backdrop support */
	@supports (backdrop-filter: blur(.25rem)) {
		.nav-background {
		backdrop-filter: blur(.25rem);
		background-color: rgba(0,0,0,0.7);
		}
	}

#mainNav .navbar-brand {
	font-size: 2rem;
	color: var(--text-light);
}

#mainNav a{
	color:#EFCEDF;
	font-size: 1.4rem;
}

#navbarResponsive a{
	color: white;
}

.dropdown-item:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.dropdown-item:active{
	background-color: #EFCEDF;
}

.dropdown:hover>.dropdown-menu{
	display: block;
}


/* =================================================================== */
/* CTA */

.cta-header{
	background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
	url('../img/Showcase\ Img.jpg') right center/cover fixed;
	height: 100vh;
	padding-top: 12rem;
	/* border: 3px solid red; */
}

.cta-text {
	font-size: 7rem;
	color: var(--text-light);
	/* border: 3px solid orange; */
}

.cstm-container .cta-button:not([href]):not([tabindex]) {
	/* border: 2px solid red; */
	color: white;
	background-color: var(--sbr-pink);
	padding: .5rem 4rem;
	font-size: 2.3rem;
	text-align: center;
	margin-top: 6rem;
}

.cstm-container .cta-button.cta-button:not([href]):not([tabindex]):hover {
	background-color: rgba(245, 167, 199, 0.8);
	color: rgba(255, 255, 255, 0.9);
}

/* =================================================================== */
/* About Section */

.about-section {
	margin-top: 8rem;
	height: 100vh;
	/* border: 2px solid red; */
	position: relative;
	display: flex;
	align-items: center;
}

.right-block {
	background-color: var(--sbr-pink);
	height: 100%;
	width: 25%;
	top:0;
	right:0;
	position: absolute;
}

.about-content__container {
	/* border: 2px solid orange; */
	width: 100%;
	z-index: 1;
}
.about-heading {
	font-size: 6rem;
}

.about-text {
	font-size: 2rem;
}

.about-btn {
	color: white;
	background-color: var(--sbr-pink);
	padding: .5rem 4rem;
	font-size: 2.3rem;
	text-align: center;
}

.about-btn:hover {
	background-color: rgba(245, 167, 199, 0.8);
	color: rgba(255, 255, 255, 0.9);
}

/* =================================================================== */
/* Menu Section */

.menus-section {
	margin-top: 8rem;
	/* border: 2px solid red; */
}

.menu-collection {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-gap: 9rem;
}
/* imgs */
.wine-img {
	background: url("../img/Wine\ Taste.png");
}

.beer-img {
	background: url("../img/Beer-Top-Down.png");
}

.lunch-img {
	background: url("../img/Sandwhich\ and\ Beer.png");
}

.coffee-img {
	background: url("../img/Coffee\ and\ Pastries.png");
}

.card-img {
	height: min(40rem, 45vw);
	background-position: center;
	background-size: cover;
	position: relative;
}

.banner {
	background-color: rgba(0,0,0,0.75);
	color: white;
	position: absolute;
	top: 4rem;
	padding: .5rem 3rem;
	padding-left: .5rem;
	font-size: 2.5rem;
}

.card-btn {
	border: 3px solid var(--sbr-pink);
	width: 12rem;
}

.resize {
	max-width: 100%;
	height: 751px;
	object-fit: cover;
}

/* pink box */
.card-img{
	position: relative;
}

.card-img:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--sbr-pink);
	z-index: -4;
	left: -25px;
	top: -25px;
}

/* Services */
.services-section {
	/* border: 3px solid red; */
	margin-top: 8rem;
}

.service-wrapper {
	position: relative;
	/* border: 3px solid purple; */
	height: 90vh;
	margin-bottom: 8rem;
}

.sc-right {
	display: flex;
	justify-content: flex-end;
}


/* parties content container */
.service-text-container {
	/* border: 3px solid orange; */
	width: 75%;
	position: relative;
	background-color: white;
	padding: 1.25rem;
}

.service-text-container h1 {
	font-size: 5rem;
}

.service-text-container p {
	font-size: 2rem;
}

.service-text-container::after {
	content: ' ';
	width: 100%;
	height: 100%;
	background-color: var(--sbr-pink);
	z-index: -2;
	position: absolute;
	bottom: -7rem;
	right: -33rem;
}

.stc-right::after {
	right: 33rem;
}
/* service img */
.party-img {
	background: url("../img/parties.jpg");
}

.catering-img {
	background: url("../img/parties.jpg");
}

.custom-orders-img {
	background: url("../img/parties.jpg");
}

.service-img {
	height: min(40rem, 40vw);
	width: 60rem;
	background-position: center;
	background-size: cover;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.svi-left {
	left:0;
}